@charset "UTF-8";

body {background-color: antiquewhite;
font-family: Arial, Helvetica, sans-serif;}

h1{ color: blue;

}

h1#principal {color: black;
text-align: center;
font-weight: bold;
background-color: brown;}

h2 { color: blueviolet;

}
.basico{color: chocolate;}

.alfa {color: chartreuse;}