@charset "UTF-8";

body {
    background-color:darkgrey;
}



header {
    background-color: darkgreen;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-image: linear-gradient(to right, #03A64A, #025940);
    font-size: large;
    

}
header h1 {
    
     font-family: Arial, Helvetica, sans-serif;



}
header h4 {
    color: white;
    font-family:Arial, Helvetica, sans-serif

}
nav {
    background-color: forestgreen;
    padding: 10px;
    box-shadow: 0px 0px 05px black;
}
nav > a {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
    font-weight: bolder;
}

nav >a:hover {
    color:black;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin:auto;
    padding: 05%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow:  0px 0px 5px black

}
main img {
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin:auto
}

main p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
}


article > h1 {
    font-family:Arial, Helvetica, sans-serif
}

aside > h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: -10px -10px 0px, 10px;
    border-radius: 10px 10px 0px 10px;
    background-color: #025940;
    color: white;
}

aside > p {

    font-weight: bolder;
    
}

aside > ul {

    list-style-position: inside;
    font-weight: bold;
    columns: 2;
}

aside {
    background-color:#03A64A;
    padding: 05px;
    border-radius: 05%;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #025940;
    text-align: center;
    margin: 5px;
    border-radius:10%;
    
    
    

}
footer p {
    color:white;
    font-weight: bolder;

}
